extends layouts/main.jade
block head
	link(rel="stylesheet",href= "./styles/about.css")
block content
	h2 我是：
		span= name
	h2 我的电话：
		span= tel
	h2 我的年龄:
		span= age
	.alert.alert-dismissible.alert-type=flash.type
		button(type="button",data-dismiss="alert",aria-hidden="true").close
		strong intro=flash.intro
		block message